.dropdown {
  width: 300px;
  padding: 6px;
  font-size: 16px;
  margin: 5px 0;
  background: rgb(252, 252, 252);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  border: 2px solid lightblue;
  outline: none;
}
